<?xml version="1.0" encoding="utf-8" ?>
<!--Parco RTLS™ MultiSpectral Parser Service 
	Copyright © 2006 Parco Merged Media Inc. / Parco Wireless, All rights reserved.
	This service is propriatary and confidential and may only be used under a license agreement
	with Parco Merged Media Corp.
	
	LogFilePath is directory where the service is installed (default) or another location on the server.
	The local system services account must have write access to the LogFilePath directory. The value must contain
	a back slash at the end like C:\ParcoServices\MSParser\
	
	The ParserConfigPath contains the path to the parser.config file. This file contains the settings
	for each Multispectral Appliance, Receiver, and Manager Service connections
	
	Startup Delay is used to delay the connection attempts on startup to give the manager
	service time to configure itself and open its listeners on computer startup 
	

-->
<configuration>
	<appSettings>
		<add key="LogFilePath" value="C:\ParcoServices\MSParser\" />
		<add key="ParserConfig" value="C:\ParcoServices\MSParser\msparser.config" />
		<add key ="StartupDelay" value="10000" />
		<add key="RateEvtToAve" value="4" />
		<add key="RateEvtsPerMin" value="60" />
	</appSettings>
</configuration>
