<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AllowMessageBoxes" value="True" />
    <add key="SendAveData" value="False" />
    <add key="AveragingValue" value="0.2" />
    <add key="RData" value="True" />
    <add key="TData" value="False" />
    <add key="PData" value="False" />
    <add key="OData" value="False" />
    <add key="ManagerRetry" value="50" />
    <add key="ManagerReconnect" value="False" />
    <add key="RouterName" value="Name Me" />
    <add key="RunAsService" value="False" />
    <add key="ParserRetry" value="50" />
    <add key="ParserReconnect" value="False" />
  </appSettings>
</configuration>