<?xml version="1.0" encoding="utf-8" ?>
<!--
'##### CONFIDENTIAL - CONFIDENTIAL - CONFIDENTIAL ######
'		                    Parco RTLS™ System
'All information and source code contained herein is confidential and proprietary.
'Copying or modifying this source code is strictly prohibited unless under license of Parco Wireless.
'Copyright © 2006 Parco Merged Media Inc. / Parco Wireless
'All rights reserved.
'##### CONFIDENTIAL - CONFIDENTIAL - CONFIDENTIAL ######
'Author:     Mike Farnsworth, Parco Wireless.
'Version:   1.0
'Date:      2/10/2006
'
'User Note: the MaxZoomIn size is dictated by the allowble area of the picture box
'control in a windows form. The limit is about 194000000 pixels (width x height). 
'The main form will go away with an ugly unsafe method exception if you exceed the limit.
'
'RefTagSideOffset is half the width at the base of the 1x1 tag housing (19/32 inch) converted to feet- 0.0495 ft 
'RefTagHeightOffset is 1/2 inch which is .04 feet
'MS Receiver offsets are not applied as the orientation and antenna styles differ. Value is here, but not used for now
'The HardwareDBConn value should be the value of the facility production database. The
'harware portion has not been fully vetted out and will not be included in the SDK until the
'a later release than V2.1

'Modification/Author/Date:
'
'
-->
<configuration>
	<appSettings>
		<add key="DataServiceURL" value="http://std05/ParcoRTLSDataservice/DataV2.1.asmx"></add>
		<add key="HarwareDBConn" value="user=sa;pwd=parco;database=ParcoRTLSMaint;server=std05"></add>
		<add key="MaxZoomIn" value="194000000"></add>
		<add key="TaveSubType" value="8"></add>
		<add key="OaveSubType" value="10"></add>
		<add key="RefTagHeightOffset" value="0.04"></add>
	</appSettings>
</configuration>
