# Name: .gitignore
# Version: 0.1.1
# Created: 250202
# Modified: 250607
# Creator: ParcoAdmin
# Modified By: ParcoAdmin
# Description: ignore these files in git
# Location: /home/parcoadmin/parco_fastapi/app/
# Role: Backend
# Status: Active
# Dependent: FALSE


# Logs
*.log
logs/
*.log.*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
.venv/
*.egg-info/
dist/
build/

# Node.js
node_modules/
node_modules/.cache/

# Environment variables
.env
.env.*

# Editor and OS files
.DS_Store
.vscode/
.idea/
*.swp
*.swo

# Misc
*.bak
*.tmp

file_list.txt
test_map_*.png
tree.md
fastapi_openapi.json
uploaded_maps/
db/
*.sql
