<?xml version="1.0" encoding="utf-8" ?>
<!--
'##### CONFIDENTIAL - CONFIDENTIAL - CONFIDENTIAL ######
'		                    Parco RTLS™ System
'All information and source code contained herein is confidential and proprietary.
'Copying or modifying this source code is strictly prohibited unless under license of Parco Wireless.
'Copyright © 2006 Parco Merged Media Inc. / Parco Wireless
'All rights reserved.
'##### CONFIDENTIAL - CONFIDENTIAL - CONFIDENTIAL ######
'Author:     Mike Farnsworth, Parco Wireless.
'Version:   2.0
'Date:      2/10/2006
'
'User Note: the MaxZoomIn size is dictated by the allowble area of the picture box
'control in a windows form. The limit is about 194000000 pixels (width x height). 
'The main form will go away with a non-trappable security exception if you exceed the limit.

'Modification/Author/Date:
'11/21/2006 changed the MaxZoomIn value to 194000000
-->
<configuration>
	<appSettings>
		<add key="DataServiceURL" value="http://manager.parcomergedmedia.com/ParcoRTLSDataservice/DataV2.1.asmx"></add>
		<add key="MaxZoomIn" value="194000000"></add>
	</appSettings>
</configuration>
