<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ManagerIP" value="192.168.1.30" />
    <add key="ManagerPort" value="10000" />
    <add key="LogData" value="False" />
    <add key="AveData" value="False" />
    <add key="Ave" value="0" />
    <add key="HubIP" value="192.168.1.30" />
    <add key="HubPort" value="999" />
    <add key="RData" value="True" />
    <add key="TData" value="True" />
    <add key="PData" value="True" />
    <add key="OData" value="True" />
    <add key="ManagerRetry" value="50" />
    <add key="RouterName" value="Name Me" />
  </appSettings>
</configuration>