/* Name: ZoneBuilder.css */
/* Version: 0.1.0 */
/* Created: 971201 */
/* Modified: 250502 */
/* Creator: ParcoAdmin */
/* Modified By: ParcoAdmin */
/* Description: Stylesheet for ParcoRTLS frontend */
/* Location: /home/parcoadmin/parco_fastapi/app/src/components */
/* Role: Frontend */
/* Status: Active */
/* Dependent: TRUE */

/* /src/components/ZoneBuilder.css */
#zoneMap {
    height: 500px;
    width: 100%;
    border: 2px solid black;
  }
  