<?xml version="1.0" encoding="utf-8" ?>
<!--
	LogFilePath is directory where the service is installed (default) or another location on the server.
	The local system services account must have write access to the LogFilePath directory. The value must contain
	a back slash at the end like C:\Parco\History\
	
	ParserHeartBeat is the Parser connection heart beat rate in milliseconds.
	
	The data connections use SQL accounts and not Windows accounts
	
	The MarginOfError must be 0 or greater, if 0 then it is 
	turned off resulting a new db record for each piece of tag data. MOE's 
	are only applied to the real time data and not omni directional or
	proximity data. Future plans require the use of the RTLSMaint db connection
	to get individual tag MOE settings and Log data indicators from the RTLSMaint.Devices table.
	
	When UseServerTime is true the timestamp (UTC) for tag data is the servers time, else the TS in the tag is used.
-->
<configuration>
	<appSettings>
		<add key="LogFilePath" value="C:\Parco\History\" />
		<add key="ParserHeartBeat" value="15000" />
		<add key="HistRListenIP" value="192.168.1.30" />
	    <add key="HistRPort" value="801" />
		<add key="HistOListenIP" value="192.168.1.30" />
	    <add key="HistOPort" value="802" />
		<add key="HistPListenIP" value="192.168.1.30" />
	    <add key="HistPPort" value="803" />
		<add key="dbHistoryR" value="uid=sa;pwd=parco;database=ParcoRTLSHistR;server=STD05" />
		<add key="dbHistoryO" value="uid=sa;pwd=parco;database=ParcoRTLSHistO;server=STD05" />
		<add key="dbHistoryP" value="uid=sa;pwd=parco;database=ParcoRTLSHistP;server=STD05" />
		<add key="dbRTLSConn" value="uid=sa;pwd=parco;database=ParcoRTLSMaint;server=STD05" />
		<add key="MarginOfError" value="1.0" />
		<add key="UseServerTime" value="true" />
	</appSettings>
</configuration>
