<?xml version="1.0" encoding="utf-8" ?>
<!--Parco RTLS™ MSParser Service 
	Copyright © 2006 Parco Merged Media Inc. / Parco Wireless, All rights reserved.
	This service is propriatary and confidential and may only be used under a license agreement
	with Parco Merged Media Corp.

	
	configure a manager for each one listed in the tlkResources table
	configure a manager for each of the R, O, and P history service managers
	configure a recciever for each receiver to impart p data coordinates on.
	Examples to follow for configurations:
		<manager>
			<add key="ManagerName" value="RandTRawFS" />
			<add key="TCPIP" value="192.168.1.30" />
			<add key="Port" value="10001" />
			<add key="SendR" value="true" />
			<add key="SendT" value="true" />
			<add key="SendO" value="true" />
			<add key="SendP" value="true" />
			<add key="AutoReconnect" value="true" />
			<add key="ReconnectLimit" value="50" />
		</manager>
		
		<receiver>
			<add key="ID" value="201" />
			<add key="x" value="25.2" />
			<add key="y" value="2.5" />
			<add key="z" value="10.0" />
		</receiver>
		
		<parser>
			<add key="ParserName" value="Zone1" />
			<add key="TCPIP" value="192.168.1.40" />
			<add key="Port" value="999" />
			<add key="AutoReconnect" value="false" />
			<add key="ReconnectLimit" value="20" />
			<add key="SendsDQI" value="true" />
			<add key="XOffset" value="0.0" />
			<add key="YOffset" value="0.0" />
			<add key="ZOffset" value="0.0" />
		</parser>
		
-->
<configuration>
	<managers>
		<manager>
			<add key="ManagerName" value="RandTRawFS" />
			<add key="TCPIP" value="192.168.1.30" />
			<add key="Port" value="10001" />
			<add key="SendR" value="true" />
			<add key="SendT" value="true" />
			<add key="SendO" value="true" />
			<add key="SendP" value="true" />
			<add key="AutoReconnect" value="true" />
			<add key="ReconnectLimit" value="50" />
		</manager>
	</managers>
	<receivers>
		<receiver>
			<add key="ID" value="201" />
			<add key="x" value="25.2" />
			<add key="y" value="2.5" />
			<add key="z" value="10.0" />
		</receiver>
	</receivers>
	<parsers>
		<parser>
			<add key="ParserName" value="Zone1" />
			<add key="TCPIP" value="192.168.1.30" />
			<add key="Port" value="999" />
			<add key="AutoReconnect" value="false" />
			<add key="ReconnectLimit" value="20" />
			<add key="SendsDQI" value="true" />
			<add key="XOffset" value="10.0" />
			<add key="YOffset" value="10.0" />
			<add key="ZOffset" value="10.0" />
		</parser>
	</parsers>
</configuration>
