<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="XMax" value="50" />
    <add key="YMax" value="65" />
    <add key="ZMax" value="20" />
    <add key="PtagCount" value="2" />
    <add key="TimeInterval" value="2050" />
    <add key="IPAddress" value="192.168.1.30" />
    <add key="Port" value="10000" />
    <add key="Mode" value="Client" />
    <add key="SendCal" value="False" />
  </appSettings>
</configuration>