<?xml version="1.0" encoding="utf-8" ?>
<!--Parco RTLS™ Manager Service 
	Copyright © 2006 Parco Merged Media Inc. / Parco Wireless, All rights reserved.
	This service is propriatary and confidential and may only be used under a license agreement
	with Parco Merged Media Corp.

	For each manager:
	Mode = 0 for Subscription and 1 for Fullstream
	IsAveraged = true for averaged data, false for raw data
	AveFactor must be > 0 and <= 1.0, 1 results in no averaging, 0 would result in no movement.
	Resource type and description should match the database values contained in ParcoRTLSMaint tblResources
	
-->
<configuration>
  <manager>
    <add key="ManagerName" value="RandTRawFS" />
    <add key="SDKListenIP" value="192.168.1.30" />
    <add key="SDKPort" value="10001" />
    <add key="ParserListenIP" value="192.168.1.30" />
    <add key="ParserPort" value="10000" />
    <add key="Mode" value="1" />
    <add key="IsAveraged" value="false" />
    <add key="AveFactor" value="0.25" />
    <add key="ResourceType" value="1" />
    <add key="ResourceDescription" value="R and T Raw Fullstream" />
    <add key="SendSDKHeartbeat" value="true" />
    <add key="SendParserHeartbeat" value="true" />
    <add key="LogSDKConnections" value="true" />
  </manager>
</configuration>
