<?xml version="1.0" encoding="utf-8" ?>
<!--Parco RTLS™ Manager Service 
	Copyright © 2006 Parco Merged Media Inc. / Parco Wireless, All rights reserved.
	This service is propriatary and confidential and may only be used under a license agreement
	with Parco Merged Media Corp.
	
	LogFilePath is directory where the service is installed (default) or another location on the server.
	The local system services account must have write access to the LogFilePath directory. The value must contain
	a back slash at the end like C:\Parco\Manager\
	
	SDKHeartBeat is the SDK connection heart beat rate in milliseconds.
	ParserHeartBeat is the Parser connection heart beat rate in milliseconds.
	

-->
<configuration>
	<appSettings>
		<add key="LogFilePath" value="C:\Parco\Manager\" />
		<add key="ManagerConfigPath" value="C:\Parco\Manager\" />
		<add key="SDKHeartBeat" value="15000" />
		<add key="ParserHeartBeat" value="15000" />
		<add key="ServiceCommIP" value="192.168.1.30" />
		<add key="ServiceCommPort" value="822" />
	</appSettings>
</configuration>
