<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="XMax" value="30" />
    <add key="YMax" value="30" />
    <add key="ZMax" value="10" />
    <add key="PtagCount" value="2" />
    <add key="TimeInterval" value="1000" />
    <add key="IPAddress" value="10.1.130.25" />
    <add key="Port" value="999" />
    <add key="Mode" value="Client" />
    <add key="SendCal" value="False" />
  </appSettings>
</configuration>