<!-- Name: _building_outside_l2.html -->
<!-- Version: 0.1.0 -->
<!-- Created: 971201 -->
<!-- Modified: 250502 -->
<!-- Creator: ParcoAdmin -->
<!-- Modified By: ParcoAdmin -->
<!-- Description: HTML template for ParcoRTLS frontend -->
<!-- Location: /home/parcoadmin/parco_fastapi/app/templates -->
<!-- Role: Frontend -->
<!-- Status: Active -->
<!-- Dependent: TRUE -->

{# {% extends "base.html" %} #}

{% block content %}
<!-- Content specific to the Building Outside L2 page -->
<div id="buildingL2Details" class="hidden">
    <h3>Define Building Outside L2</h3>
    <label for="buildingL2Name">Enter Building Outside L2 Name:</label>
    <input type="text" id="buildingL2Name" placeholder="Enter Name">
    <button onclick="startDrawingBuildingL2()">Define Building Outline</button>
    <div id="saveBuildingL2Container"></div>
</div>
{% endblock %}
