<!-- Name: _campus_l1.html -->
<!-- Version: 0.1.0 -->
<!-- Created: 971201 -->
<!-- Modified: 250502 -->
<!-- Creator: ParcoAdmin -->
<!-- Modified By: ParcoAdmin -->
<!-- Description: HTML template for ParcoRTLS frontend -->
<!-- Location: /home/parcoadmin/parco_fastapi/app/templates -->
<!-- Role: Frontend -->
<!-- Status: Active -->
<!-- Dependent: TRUE -->

<div id="zoneDetails" class="hidden">
    <label for="zoneName">Enter Campus L1 Name:</label>
    <input type="text" id="zoneName" placeholder="Enter Name">
    <button onclick="saveCampus()">Confirm & Save</button>
</div>

<div id="nextStepContainer" class="hidden">
    <button id="nextStep" onclick="showBuildingL2Form()">Next: Create Building L2</button>
</div>
