<?xml version="1.0" encoding="Windows-1252"?>
<!--add key="dbDeviceDataConn" value="server=localhost;database=ParcoGISDevices;uid=sa;pwd=parco;" /-->
<!--add key="dbHistoryConn" value="server=localhost;database=ParcoGISHistory;uid=sa;pwd=parco;" /-->
<configuration>
  <appSettings>
    <add key="dbDataConn" value="uid=sa;pwd=stdadmin;database=ParcoRTLSData;server=localhost" />
    <add key="dbHistoryConn" value="uid=sa;pwd=stdadmin;database=ParcoRTLSHistR;server=localhost" />
    <add key="dbRTLSConn" value="uid=sa;pwd=stdadmin;database=ParcoRTLSMaint;server=localhost" />
    <add key="SDKClientAddress" value="192.168.1.30" />
    <add key="SDKClientPort" value="20001" />
    <add key="RouterAddress" value="192.168.1.30" />
    <add key="RouterPort" value="10000" />
    <add key="Mode" value="1" />
    <add key="DefaultMOE" value="3" />
    <add key="SaveData" value="False" />
    <add key="RouterHeartBeatRate" value="15000" />
    <add key="SDKHeartBeatRate" value="15000" />
  </appSettings>
</configuration>